In [17]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

mouse_metadata_path = "CSV_Files/Mouse_metadata.csv"
study_results_path = "CSV_Files/Study_results.csv"

mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

#mouse_metadata
#study_results

In [23]:
combined = pd.merge(study_results,mouse_metadata,  how='left', on='Mouse ID')
#combined.head(10)

In [24]:
mouse_count = combined["Mouse ID"].count()
#mouse_count

1893

In [27]:
duplicate_rows = combined[combined.duplicated(['Mouse ID', 'Timepoint'])]
#duplicate_rows

In [28]:
new_df = combined.drop_duplicates("Mouse ID")
new_df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
245,t565,0,45.0,0,Capomulin,Female,20,17
246,i557,0,45.0,0,Capomulin,Female,1,24
247,m957,0,45.0,0,Capomulin,Female,3,19
248,f966,0,45.0,0,Capomulin,Male,16,17
249,m601,0,45.0,0,Capomulin,Male,22,17